<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130379669-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130379669-1');
    </script>

    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" href="./image/favicon.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <header class="page-header" role="banner">
      <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <a class="navbar-brand" href="./home.html">NutriTeam</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="./home.html">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="./database.html">Database</a>
            <a class="nav-item nav-link" href="./Milestone_2.html">Data Visualization</a>
            <a class="nav-item nav-link" href="./algo.html">Algorithm</a>
            <a class="nav-item nav-link" href="./app.html">Application - NutriScore</a>
          </div>
         </div>
      </nav><br>
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      <nav>
        <a href="./home.html" style="font-size:150%;color:white">Home</a><br>
        <a href="./database.html" style="font-size:150%;color:white">Database</a><br>
        <a href="./Milestone_2.html" style="font-size:150%;color:white">Data Visualization</a><br>
        <a href="./algo.html" style="font-size:150%;color:white">Algorithm</a><br>
        <a href="./app.html" style="font-size:150%;color:white">Application - NutriScore</a><br>
      </nav>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <a href="./contact.html" style="font-size:110%;color:#34A95F">Contact</a><br>
      </footer>
    </main>
  </body>
</html>
