<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      <nav>
        <a href="./home.html" style="font-size:160%;color:white">Home</a><br>
        <a href="./contact.html" style="font-size:160%;color:white">Contact</a><br>
        <a href="./Milestone_2.html" style="font-size:160%;color:white">Data Exploration Result</a><br>
      </nav>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <a href="./contact.html" style="font-size:160%;color:#34A95F">Contact</a><br>
      </footer>
    </main>
  </body>
</html>
